1.1 Нарушение правил сообщества Discord.
1.2 Реклама в любом ее проявлении, рассылка дискорд серверов.
1.3 Сторонние приписки, кланы, гильдии.
1.4 Угрозы и попытки нанесения вреда проекту, а так же его оскорбление.
1.5 Распространение и обсуждение личной/ложной информации человека , Администрации и тд.

Общие правила
2.1 Запрещено оскорбление, провокация, унижение, участников в любой форме.
2.2 Запрещено использовать нелинкабельный никнейм.
2.3 Запрещено копировать никнеймы и аватарки другого участника.
2.4 Запрещено торговать чем-либо, попрошайничать.
2.5 Запрещено выдавать себя за администрацию данного сервера.
2.6 Запрещено упрекать и обсуждать работу администрации.

Голосовые и текстовые каналы
3.1 Запрещено создание помех общению:

⠀- намеренное перебивание;
⠀- "перепрыгивание" по каналам,
⠀- посторонние звуки*,
⠀- использование программ для изменения голоса.

3.2 Разрешена живая музыка только с ролью , если это не мешает общению.
3.3 Запрещён бессмысленный пинг ролей и участников.
3.4 Запрещено использование ботов и излишний флуд в #общение
3.5 Запрещено выкладывать в чаты и транслировать порнографический контент и сцены насилия.

Посторонние звуки
-крики, стоны, дыхание, прекрасные звуки рта.
-громкие и раздражающие звуки.
-звуки клавиатуры.
-трансляция музыки, soundpad.

Если хотите провести дискуссию, просим Вас, не мешать другим посетителям в общих каналах, и перейти в приват.
